
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
} 
  
.container {
    width: 1150px;
    padding: 0 25px;
    margin: 0 auto;
}



/* I started header */

.site-header{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2); 
}
.header-inner{
    padding: 18px 0;
}
.header-logo{
    margin-right: 335px;
}
.site-nav{
    margin-right: 24px;
}

.nav-item{
    outline: none;
}
.nav-item:not(:last-child){
    margin-right: 32px;
}
.nav-item:hover{
    border-bottom: 1px solid #353030;
}
.site-nav:active{
    background-color:  #353030;
}

.nav-link{
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    text-transform: capitalize;
}

.link{
    background: #00bafc;
    border-radius: 5px;
    font-weight: bold;
    line-height: 24px;
    color: #FFFFFF;
    padding: 8px 16px;
    border: none;
}
.pixsar-num-link{
    font-size: 15px;
}
.pixsar-num-link:hover{
    border: 3px solid #00bafc;
    background-color: #fff;
    color: #00bafc;
}
.pixsar-num-link:active{
    background-color:#00b9fc98;
    color: #fff;
}
.header-none{
    display: none;
}




/* I started hero-section */

.hero-inner{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

.hero-info{
    width: 470px;
}
.hero-link{
    font-size: 16px;
}
.hero-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
}
.title{
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}
.text{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;  
}
.hero-text{
    margin-bottom: 16px;
}

.style-none{
    list-style-type: none;
}
.text-none{
    text-decoration: none;
}


/* I finished hero-section */





/* service-section I started */
.service-inner{
    padding: 56px 0;
}
.service-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.service-title{
    text-align: center;
}
.service-text{
    text-align: center;
    width: 719px;
    margin: 0 auto;
}

.margin-big{
    margin-bottom: 16px;
}
.margin-little{
    margin-bottom: 8px;
}
.service-item{
    background: #fff;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 24px 59px;
    width: 320px;
    margin-right: 45px;
    margin-bottom: 48px;
}
.service-item:active{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2); 
}
.service-item:hover{
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}
.web-box::before{
    content: '';
    display: block;
    width: 203px;
    height: 130px;
    background-image: url('../images/website-illustration.svg');
    background-position:center center;
    background-repeat: no-repeat;
}
.tg-box::before{
    width: 203px;
    height: 130px;
    background-image: url('../images/bot-illustration.svg');
}
.smm-box::before{
    width: 203px;
    height: 130px;
    background-image: url('../images/smm-illustration.svg');
}
.grafik-box::before{
    width: 203px;
    height: 130px;
    background-image: url('../images/design-illustration.svg');
}
.crm-box::before{
    width: 203px;
    height: 130px;
    background-image: url('../images/crm-illustration.svg');
}
.web-title{
    font-size: 20px;
    line-height: 130%;
    text-align: center;
}

.web-text{
    text-align: center;
}
.service-link-box{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.service-link{
    margin-right: 16px;
}
.service-link-serv{
    text-align: center;
    text-decoration-line: underline;
    color: #00BAFC;
}
.service-link-serv:hover{
    background-color: #00bafc;
    color: #fff;
}

/* I finished service-section */




/* I started work-section */

.work-inner{
    padding: 56px 0;
}
.work-text{
    margin-bottom: 24px;
}

.student{
    content: '';
    display: block;
    width: 300px;
    height: 278px;
    background-image: url('../images/student-img.svg');
    background-position:0 0;
    background-repeat: no-repeat;
}
.offer:after{
    content: '';
    display: block;
    width: 300px;
    height: 225px;
    background-image: url('../images/offer.svg');
    background-position:0 0;
    background-repeat: no-repeat;
}
.time:after{
    content: '';
    display: block;
    width: 300px;
    height: 259px;
    background-image: url('../images/time.svg');
    background-position:0 0;
    background-repeat: no-repeat;
}
.quality:after{
    content: '';
    display: block;
    width: 300px;
    height: 171px;
    background-image: url('../images/quality.svg');
    background-position:0 0;
    background-repeat: no-repeat;
}
.support{
    content: '';
    display: block;
    width: 300px;
    height: 232px;
    background-image: url('../images/support.svg');
    background-position:0 0;
    background-repeat: no-repeat;
}
.student-title{
    align-items: center;
    font-size: 20px;
}
.student-info{
    padding: 75px 0;
}

.work-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 48px;
}
.work-item:nth-child(2n){
    flex-direction: row-reverse;
}
.work-link-box{
    display: block;
    text-align: center;
    margin: 0 auto;
}
/* I finished work-section */

.link-hover:hover{
    background-color:  #71bfdb;
}
.link-hover:active{
    background-color: #76d8f8;
}



/* I started order-section */

#order-section{
    background-color: #00bafc;
}

.order-inner{
    padding-top: 56px;
    padding-bottom: 64px;
}
.order-title{
    color: #fff;
}
.order-text{
    color: #fff;
    margin-bottom: 24px;
}

.form{
    margin: 0 auto;
    padding: 24px;
    width: 370px;
    background-color: #fff;
}
.input{
    width: 300px;
    padding: 16px 0 16px 16px;
    background: #f3f3f3;
    border-radius: 5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    border: none;
    outline: none;
}
.order-btn{
    background: #00bafc;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 8px 16px;
    outline: none;
    border: none;
    cursor: pointer;
}
.order-btn:hover{

}


#footer-section{
    background-color: #000;
}
.footer-inner{
    padding: 56px 0 56px 100px;
}
.copyright-text{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
}
.copy-text{
    font-style: normal;
    color: #fff;
    width: 320px;
}
.foot-link{
    color: #fff;
    text-decoration: none;
}
.copyright{
    margin-right: 150px;
}
.site-page{
    margin-right: 100px;
}
.site-item{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 16px;

}
.footer-list{
    display: flex;
}
.tg-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.face-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.insta-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot-link:hover{
    color: #2d2599;
}
.tg-icon:before{
    content: '';
    display: block;
    width: 22px;
    height: 24px;
    background-image: url('../images/telegram.svg');
    background-position:0 0;
    background-repeat: no-repeat;
    margin-right: 8px;
}
.face-icon::before{
    content: '';
    display: block;
    width: 22px;
    height: 24px;
    background-image: url('../images/facebook.svg');
    background-position:0 0;
    background-repeat: no-repeat;
    margin-right: 8px;

}
.insta-icon:before{
    content: '';
    display: block;
    width: 22px;
    height: 24px;
    background-image: url('../images/instagram.svg');
    background-position:0 0;
    background-repeat: no-repeat;
    margin-right: 8px;
  

}
